[Unit]
Description=DS1307 RTC Init Service
 
[Service]
Type=simple
WorkingDirectory=/usr/share/rtc_ds1307
ExecStart=/bin/bash rtc-init.sh
SyslogIdentifier=rtc_ds1307
 
[Install]
WantedBy=multi-user.target
